<div class="container">
  <div class="row">
    <div class="col-md-12" align="center">
    <form class="navbar-form" ng-controller="processRequestCtrl" ng-submit="processRequest()" name="search_form" role="search">
        <div class="input-group">
            <input type="text" placeholder="交易 HASH，钱包地址或者区块 ID" name="requestType" required ng-model="ethRequest"  class="form-control searchimain">
            <div class="input-group-btn">
                <button class="btn btn-primary btn-bluem" type="submit"><i class="fa fa-search"></i> 搜索</button>
            </div>
        </div>
    </form></div></div>
</div>
<div class="container" style="padding-top: 20px;">
  <div class="row">
      <div class="col-md-4" align="center">
          <div class="boxi">最新区块:<br/>{{ currentBlockNumber }}</div>
      </div>
      <div class="col-md-4" align="center">
          <div class="boxi">Gas 限制:<br/>{{ gasLimit || "计算中.." }}</div>
      </div>
      <div class="col-md-4" align="center">
          <div class="boxi">出块间隔:<br/>{{ blocktime?blocktime+" second(s)":false || "计算中.." }}</div>
      </div>
  </div>
  <h1><i class="fa fa-cubes"></i> 最新区块 <small>最新的10个 iTrust 区块</small></h1><br />
  <div class="table-responsive">
    <table class="table table-striped table-hover table-bordered">
        <thead class="thead-inverse">
            <td>
                <strong>区块ID #</strong>
            </td>
            <td>区块 HASH</td>
            <td>
                区块大小
            </td>
            <td>
                出块时间
            </td>
            <td>
                交易数
            </td>
            <td>
                消耗燃气
            </td>
        </thead>
        <tbody>
            <tr ng-repeat="block in blocks" class="animated fadeIn">
                <td>
                    <a href="/#/block/{{ block.number }}">
                        <span class="btn btn-sm btn-primary"><i class="fa fa-cube"></i> {{ block.number }}</span>
                    </a>
                </td>
                <td><a href="/#/block/{{ block.hash }}"><span class="btn btn-sm btn-success">{{ block.hash | truncate : 64 }}</span></a></td>
                <td style="vertical-align:middle;">
                    {{ block.size | sizeFormat }}
                </td>
                <td style="vertical-align:middle;" n-tooltips title="{{ block.timestamp * 1000 | date:'medium' }}">
                    {{ block.timestamp * 1000 | timestampAge }}
                </td>
                <td style="vertical-align:middle;">
                    {{ block.transactions.length }}
                </td>
                <td style="vertical-align:middle;">
                    {{ block.gasUsed | gasFormat }}
                </td>
            </tr>
        </tbody>
    </table>
  </div>
    <h1><i class="fa fa-exchange"></i> 最新交易 <small>最新的 10 笔交易（仅查询最近 1000 个区块）</small></h1><br />
    <div class="table-responsive">
    <table class="table table-striped table-hover table-bordered">
        <thead class="thead-inverse">
            <td>
                <strong>交易 Hash</strong>
            </td>
            <td>区块 ID</td>
            <td>发起地址</td>
            <td>目标地址
            </td>
            <td>
                消耗燃气
            </td>
            <td>
                发送燃气数量
            </td>
        </thead>
        <tbody>
            <tr ng-repeat="tx in recenttransactions track by $index-async" class="animated fadeIn">

              <td style="vertical-align:middle;"><a href="/#/tx/{{ tx.hash }}">{{ tx.hash || "" | truncate : 45 }}</a></td>
                <td style="vertical-align:middle;">
                    <a href="/#/block/{{ tx.blockNumber }}">
                        {{ tx.blockNumber || "" }}
                    </a>
                </td>
                <td style="vertical-align:middle;"><a href="/#/address/{{ tx.from }}">{{ tx.from || "" | truncate : 20 }}</a></td>
                <td style="vertical-align:middle;"><a href="/#/address/{{ tx.to }}">{{ tx.to || "" | truncate : 20 }}</a></td>
                <td style="vertical-align:middle;">
                    {{ tx.gas | gasFormat }}
                </td>
                <td style="vertical-align:middle;">
                    {{ tx.value | BigNum }}
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>
